.container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
    padding: 70px calc(50% - 700px) 80px 0px;
}
.text{
    position: absolute;
    display: block;
    width: calc(100% - 600px);
    max-width: 770px;
    left: 160px;
    z-index: 120;
    top: 240px;
    font-size: 18px;
}
.text h1{
    font-family: PG;
    font-size: 38px;
    line-height: 50px;
    margin-bottom: 20px;
    letter-spacing: 10px;
    font-weight: 900;
}
.text p{
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 100;
    color: var(--habitus-gray);
}
.text b{
    color: var(--habitus-gray);
}
.text span{
    color: var(--habitus-primary);
    font-weight: 900;
    font-size: 20px;
}
.welcomeImage{
    height: 100%;
    z-index: 80;
}
.welcomeImage img{
    height: 100%;
}
@media (max-width: 770px){
    .container{
        padding: 70px 0px 220px;
    }
    .text{
        width: calc(100% - 40px);
        margin: auto;
        left: 20px;
        order: 2;
        top: 618px;
    }
    .text p{
        text-align: justify;
        line-height: 24px;
        font-size: 16px;
    }
    .welcomeImage{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: absolute;
        left: 0px;
    }
    .welcomeImage img{
        width: initial;
        height: 600px;
    }
}
@media (max-width: 520px){
    .container{
        height: 500px;
        padding: 70px 0px 300px;
    }
    .container > img{
        height: 500px;
    }
    .container .text{
        top: 568px;
    }
    .text h1{
        letter-spacing: 5px;
        font-size: 35px;
    }
}