.container{
    padding: 20px 0px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    align-items: flex-end;
}
@media (max-width: 770px){
    .grid{
        display: block;
        margin: auto;
        width: 480px;
        text-align: center;
    }
    .withDetails{
        width: 100%;
    }
}
@media (max-width: 550px){
    .grid{
        width: 100%;
    }
}