.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 20px);
    width: 70px;
    padding-bottom: 20px;
    z-index: 200;
}
.social::before{
    content: '';
    width: 2px;
    height: 100%;
    background: #cfcfcf;
    display: block;
    margin: auto;
}
.social a{
    margin: 30px 0px 0px;
}
.social img{
    display: block;
    width: auto;
    height: 20px;
    margin: auto;
}
@media (max-width: 770px){
    .colorSwitcher::before{
        background: var(--habitus-secondary);
    }
    .colorSwitcher img{
        filter: brightness(0.2);
    }
    .social{
        height: calc(100% - 120px);
        top: 40px;
    }
}