.grid{
    display: grid;
    grid-gap: 20px;
    width: 100%;
}
.container{
    height: 900px;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 1300px;
    margin: auto;
}
.previewImg{
    max-width: 85vw;
    max-height: 85vh;
}
@media (max-width: 770px){
    .container{
        height: 1300px;
        padding: 10px 10px 0px;
        margin: 0px;
        width: calc(100% - 20px);
    }
    .grid{
        grid-gap: 10px;
    }
}