.container{
    width: fit-content;
    padding: 5px;
    height: fit-content;
    border-radius: 8px;
}
.container img{
    width: 100px;
    height: 200px;
    padding: 10px 15px;
    border: 6px solid var(--habitus-primary);
    border-radius: 10px;
}
.selectable img{
    border: 6px solid var(--habitus-gray);
}
.selected img{
    width: 120px;
    height: 240px;
    padding: 10px 20px;
    border: 6px solid var(--habitus-primary);
}