.container{
    background: var(--habitus-tertiary);
    padding: 30px;
}
.container > h2{
    text-align: center;
    color: var(--habitus-primary);
    letter-spacing: 4px;
    margin: 5px 0px 10px;
}
.container > p{
    margin: auto;
    width: 100%;
    max-width: 800px;
    color: var(--habitus-gray);
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    width: fit-content;
    margin: 40px auto 20px;
}
.img{
    height: 460px;
}
.width{
    display: block;
    position: absolute;
    bottom: -40px;
    content: '';
    width: 236px;
    height: auto;
}
.height{
    display: block;
    position: absolute;
    left: 241px;
    content: '';
    width: auto;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    padding-left: 45px;
}
.grid img{
    display: block;
    width: 60px;
    height: 60px;
}
.grid span{
    text-align: left;
    width: 160px;
    font-size: 16px;
    color: var(--habitus-gray);
}
@media (max-width: 550px){
    .container{
        padding: 30px 10px;
    }
    .img{
        height: 240px;
    }
    .width{
        width: 120px;
        bottom: -20px;
    }
    .height{
        height: calc(100% - 18px);
        left: 130px;
    }
    .grid{
        grid-gap: 20px;
        padding-left: 35px;
    }
    .grid span{
        font-size: 14px;
        width: 129px;
    }
}