.container h2{
    color: var(--habitus-primary);
    text-align: center;
    letter-spacing: 7px;
    font-family: PG;
    font-size: 30px;
}

@media (max-width: 770px){
    .container{
        padding-top: 80px !important;
    }
}