.container{
    opacity: 0;
    visibility: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.displayed{
    opacity: 1;
    visibility: visible;
}
.background{
    background: #000000bb;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1400;
}
.card{
    background: var(--habitus-tertiary);
    padding: 70px 20px 20px;
    min-width: 400px;
    z-index: 1500;
    box-shadow: 0px 5px 35px 0px #00000088;
}
.close{
    position: absolute;
    right: -30px;
    top: -30px;
    width: 50px;
    cursor: pointer;
}
.headerTop{
    padding: 10px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
    box-shadow: 0px 0px 18px 0px #00000055;
    padding: 30px 50px;
}
.grid{
    display: flex;
    width: fit-content;
}
.side{
    width: 350px;
    margin-right: 20px;
}
.content{
    width: fit-content;
}
.imgSide{
    height: calc(100% + 30px);
    top: -85px;
    position: absolute;
    width: 100%;
}
.headerSide{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
    background: white;
    box-shadow: 0px 0px 18px 0px #00000055;
    padding: 30px 50px;
}
.goRight{
    display: block;
    width: 25px;
    top: calc(50% - 29px);
    position: absolute;
    right: -60px;
    cursor: pointer;
}

.goLeft{
    display: block;
    width: 25px;
    top: calc(50% - 29px);
    position: absolute;
    left: -60px;
    cursor: pointer;
}
@media (min-width: 770px){
    .grid{
        flex-direction: column;
    }
    .scrollable{
        min-width: 200px;
        width: calc(100% - 25px);
    }
    .scrollable .headerTop{
        padding: 20px 30px;
    }
    .scrollable .close{
        right: -2px;
    }
    .scrollable .content{
        width: 100%;
    }
}