.container{
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;
}
.scrollControl{
    height: fit-content;
    display: flex;
    width: 100vw;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.displayed{
    opacity: 1;
    visibility: visible;
}
.background{
    background: #000000bb;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1400;
}
.card{
    background: url("../../images/back-yellow.jpeg") no-repeat center;
    background-size: 100% 100%;
    padding: 20px 20px 20px;
    box-shadow: 0px 5px 35px 0px #00000088;
    width: 100%;
    max-width: 600px;
    z-index: 4000;
    text-align: center;
    border: 10px solid white;
}
.close{
    position: absolute;
    right: -30px;
    top: -30px;
    width: 50px;
    cursor: pointer;
    z-index: 4000;
}
.logo{
    width: 80px;
    display: block;
    margin: 10px auto;
}
.content{
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
}
.social{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin: auto;
}
.social a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.social img{
    height: 100%;
    width: auto;
}
.content h2{
    font-size: 14px;
    padding: 10px;
    letter-spacing: 3px;
    color: var(--habitus-secondary);
}
.content h2:nth-child(2){
    padding-bottom: 30px;
}

@media (max-width:770px){
    .content{
        padding: 0px;
    }
    .buttons{
        padding: 0px;
    }
}